@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Glegoo');

body {
	font-family: 'Glegoo', serif;
	background: white;
	color: rgb(0,0,0);
	text-align: center;
}

h1 {
	text-align: center;
	color: rgb(127,0,0);
	font-size: 150px;
	font-family: 'Fjalla One', sans-serif;
}

#slogan {
	text-align: center;
	font-style: italic, bold;
	font-size: 20px;
}